{% extends 'base.html' %}
{% load static %}
{% block 'estilos' %}
<link rel="stylesheet" href="{% static 'css/cursos.css' %}">
{% endblock 'estilos' %}
{% block 'titulo' %}Curso de Redes 5G | Huawei - IFRN{% endblock 'titulo' %}

{% block 'conteudo' %}
<section class="page-title">
  <h1>Redes 5G</h1>
</section>

<section class="course">
  <!-- COURSE PRESENTATION -->
  <div class="course-presentation">
      <div class="course-photo">
          <img src="{% static 'img/cursos/5g.png' %}" alt="Foto do Redes 5G">
      </div>

      <div align="justify" class="course-desc">
          <h3>Huawei ICT Academy HCIA - Redes 5G</h3>
          <ul class="course-sub-infos">
              <h4 class="margin-needed" id="subscritions-status">Em breve*</h4>
              <h5 class="margin-needed">TURMA: 000-000</h5>
              <h5>VAGAS: 000</h5>
          </ul>
          <p>A 5G, que hoje está em vias de ser implantada no Brasil, é a culminação de um longo processo histórico de evolução tecnológica. A tecnologia 5G já é realidade em diversas partes do mundo, com redes operando e já atendendo milhões de usuários. A vantagem mais visível a todos é a velocidade da internet nos celulares. As redes de telecomunicações são vitais e responsáveis pela qualidade das conexões e, sem elas, não seria possível acessar a rede em nossos aparelhos. Neste curso serão estudados assuntos como à evolução 5G, arquitetura de rede 5G, convergência de novas tecnologias 5G, aplicativos inovadores, recursos e aplicativos básicos de serviços 5G.</p>
          <h6>*Verificar datas de inscrição</h6>
          <a role="link" aria-disabled="true" href="#"><button>INSCREVA-SE</button></a>
          <a role="link" aria-disabled="true" class="disabled-link"><button>EDITAL</button></a>
          <a role="link" aria-disabled="true" href="{% url 'suporte' %}"><button>CURSOS COMPLEMENTARES</button></a>
      </div>
  </div>

  <!-- EXTRA INFOS -->
  <div align="justify" class="course-extra-info">
      <div class="course-extra-info-titles">
          <h4 class="titles margin act-ive" id="title-01">O que você vai aprender no curso</h4>
          <h4 class="titles margin" id="title-02">O HCIA-5 G exame cobre</h4>
          <h4 class="titles margin" id="title-03">Informação adicional</h4>
          <h4 class="titles" id="title-04">Resultados</h4>
      </div>

      <div align="justify" class="section-01">
          <p>O conhecimento básico de redes 5G e aplicativos do setor e o conhecimento básico e as habilidades necessárias como engenheiros de soluções do setor e engenheiros de soluções de pré-vendas.</p>
      </div>

      <div align="justify" class="section-02">
          <p>O exame HCIA-5G V2.0 abrange desenvolvimento e evolução 5G, arquitetura de rede 5G e tecnologias-chave, 5G + aplicação inovadora de nova tecnologia, recursos e aplicativos básicos de serviço 5G e aplicativos e soluções industriais 5G.</p>

          <ul>
              <li>5G Development and Evolution</li>
              <li>5G Network Architecture and Key Technologies</li>
              <li>5G + New Technology Innovative Application</li>
              <li>5G Basic Service Capabilities and Applications</li>
              <li>5G Industrial Applications and Solutions</li>
          </ul>

          <a href="pdfs/hcia-5g-v2.0-exam-outline.pdf" target="download" download="HCIA-5G V2.0 Exam Outline.pdf">Download: HCIA-5G V2.0 Exam Outline.pdf</a>

          <h5 class="titles-inside-course-extra-info">O que são Vouchers:</h5>
          <p class="titles-inside-course-extra-info-p">Os alunos que se destacarem no curso terão direito a vouchers para realização das provas de certificação com a HUAWEI. Em média, essa prova de certificação custa entre $200,00 (duzentos dólares). Com o credenciamento do IFRN como ICT Academy, o curso de capacitação será gratuito a estudantes e profissionais no estado do Rio Grande do Norte tendo, como requisito mínimo, o nível médio completo e participação do treinamento através do ICT Academy - IFRN.</p>
      </div>

      <div align="justify" class="section-03">
          <table class="table">
              <tbody>
                  <tr>
                      <td class="darkness"><strong>Modalidade</strong></td>
                      <td class="lightness">100% Online</td>
                  </tr>
                  <tr>
                      <td class="darkness"><strong>Carga Horária</strong></td>
                      <td class="lightness">40hs</td>
                  </tr>
                  <tr>
                      <td class="darkness"><strong>Turno</strong></td>
                      <td class="lightness">Noturno</td>
                  </tr>
                  <tr>
                      <td class="darkness"><strong>Horários</strong></td>
                      <td class="lightness">Web conferencia (via Microsoft Teams) das 20:00 às 22:00 (presença online obrigatória)</td>
                  </tr>
                  <tr>
                      <td class="darkness"><strong>Pré-Requisitos</strong></td>
                      <td class="lightness">Inglês básico para leitura e conhecimentos básicos de Redes de Computadores</td>
                  </tr>
              </tbody>
          </table>

          <p>*Todos os instrutores possuem certificação HCIA e HCAI conforme pode ser consultado no <a href="instrutores">link</a>.</p>
      </div>

      <div class="section-04">
          <div class="results-div"><a role="link" aria-disabled="true" class="results"><button>Lista de Resultados</button></a></div>
      </div>
  </div>

  <div class="instructors">
      <h4 class="presenting-professors">Professores e Bolsistas</h4>
      <hr>
      <p id="no-one-here">Este curso ainda não tem instrutores definidos</p>
      <!--<ul class="professors">
          <li class="professor">
              <img src="#" alt="">
              <h5 class="professor-name">Nome do professor</h5>
              <h6 class="professor-info">Descrição do professor</h6>
          </li>
          <li class="professor">
              <img src="#" alt="">
              <h5 class="professor-name">Nome do professor</h5>
              <h6 class="professor-info">Descrição do professor</h6>
          </li>
          <li class="professor">
              <img src="#" alt="">
              <h5 class="professor-name">Nome do professor</h5>
              <h6 class="professor-info">Descrição do professor</h6>
          </li>
          <li class="professor">
              <img src="#" alt="">
              <h5 class="professor-name">Nome do professor</h5>
              <h6 class="professor-info">Descrição do professor</h6>
          </li>
          <li class="professor">
              <img src="#" alt="">
              <h5 class="professor-name">Nome do professor</h5>
              <h6 class="professor-info">Descrição do professor</h6>
          </li>
      </ul>-->
</section>
<script src=" {% static 'javascript/courses.js' %}"></script>
{% endblock 'conteudo' %}