@charset "UTF-8";

:root {
    --cor1: #000;
    --cor4: #009213;
    --cor6: #575757;
    --cor8: #2c7c37;
    --cor9: #2e6636;
}

main {
    margin-top: 4%;
}

main h1 {
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 2%;
}

.main-content {
    width: 800px;
    margin: auto auto 3% auto;
}

.main-content a {
    color: var(--cor4);
    text-decoration: none;
    font-weight: 400;
}

.main-content a:hover {
    color: var(--cor8);
    text-decoration: none;
}

.main-text {
    width: 800px;
    font-size: 1.3em;
    margin: auto auto 2% auto;
    text-indent: 5%;
    text-align: justify;
}

main h2 {
    color: var(--cor6);
    margin-bottom: 2%;
}

.social-medias {
    background-color: var(--cor1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
    border-bottom: 1px solid var(--cor4);
}

.social-medias a {
    color: var(--cor4);
    font-size: 1.5em;
    text-decoration: none;
}

.social-medias .fab {
    color: var(--cor1);
    color: #009213;
}

.social-media-div h3 {
    font-size: 1.2em;
}

.social-media-div a:hover {
    color: #fff;
    transition: .5s;
}

.social-media-div > i {
    color: var(--cor1);
}

.fab {
    visibility: visible;
}

/* ** SCREEN MAX-WIDTH 1000PX ** */
@media screen and (max-width: 1000px) {
    .social-media-div h3 {
        font-size: 1em;
    }
}

/* ** SCREEN MAX-WIDTH 800PX ** */
@media screen and (max-width: 800px) {
    .main-content {
        width: 95%;
        margin: auto auto 3% auto;
    }

    .main-text {
        width: 100%;
    }
}

@media screen and (max-width: 550px) {
    .social-medias {
        background-color: var(--cor1);
        display: block;
        padding: 2%;
        border-bottom: none;
    }

    .social-media-div {
        background-color: var(--cor1);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2%;
        border-bottom: 1px solid #67bd72;
    }

    .social-media-div h3 {
        margin-left: 2%;
    }
}

/* ** SCREEN MAX-WIDTH 400PX ** */
@media screen and (max-width: 400px) {
    .main-picture {
        margin: auto auto 2% auto;
        width: 90%;
    }
}

/* ** SCREEN MAX-WIDTH 300PX ** */
@media screen and (max-width: 300px) {
    .main-text {
        font-size: 1em;
    }
}
