@charset "UTF-8";

:root {
    --cor4: #009213;
    --cor6: #575757;
}

main {
    margin-top: 4%;
}

main h1 {
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 2%;
}

.main-content {
    width: 800px;
    margin: auto auto 3% auto;
}

.main-content a {
    color: var(--cor4);
    text-decoration: none;
    font-weight: 400;
}

.main-content a:hover {
    color: var(--cor8);
    text-decoration: none;
}

.main-picture {
    margin: auto auto 2% auto;
    width: 300px;
}

.main-text {
    width: 800px;
    font-size: 1.3em;
    margin: auto auto 3% auto;
    text-indent: 5%;
    text-align: justify;
}

.extra-event-info {
    color: var(--cor6);
}

/* ** SCREEN MAX-WIDTH 800PX ** */
@media screen and (max-width: 800px) {
    .main-content {
        width: 95%;
        margin: auto auto 3% auto;
    }

    .main-text {
        width: 100%;
    }
}

/* ** SCREEN MAX-WIDTH 350PX ** */
@media screen and (max-width: 350px) {
    .main-picture {
        width: 95%;
    }
}