@charset "UTF-8";

:root {
    --cor4: #009213;
    --cor6: #575757;
    --cor8: #2c7c37;
}

.page-title {
    margin-top: 4%;
}

.page-title h1 {
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 2%;
}

.main-content {
    max-width: 800px;
    margin: auto;
    margin-bottom: 3%; 
}

.contacts {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 2%;
    padding: 0;
}

.contacts li {
    max-width: 300px;
    text-align: center;
    font-size: 1.3em;
}

.with-margin {
    margin-right: 3%;
}

.fa-map-location, .fa-at, .fa-telegram, .fa-instagram {
    color: var(--cor4);
}

.email {
    text-decoration: underline;
    cursor: pointer;
    transition: .4s;
    text-align: center;
}

.email:hover {
    color: var(--cor4);
}

.telegram, .instagram {
    color: #000;
    font-weight: 500;
    transition: all .4s ease;
}

.telegram:hover, .instagram:hover {
    color: var(--cor4);
}

.contacts li h3 {
    margin: 3% auto 3% auto;
    font-weight: 700;
}

.address {
    color: var(--cor6);
}

.complement {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.complement-picture {
    margin-right: 3%;
    width: 400px;
}

.footer-part-one {
    background-color: var(--cor8);
    padding: 1%;
}

.footer-part-one-picture {
    margin: auto;
    width: 17%;
}

/* ** SCREEN MAX-WIDTH 1000PX ** */
@media screen and (max-width: 1000px) {
    .main-content {
        width: 95%;
    }
}

/* ** SCREEN MAX-WIDTH 800PX ** */
@media screen and (max-width: 800px) {
    .contacts {
        display: block;
        margin: auto auto 8% auto;
        width: 40%;
    }

    .complement {
        display: block;
        margin: auto auto 5% auto;
        width: 100%;
    }

    .complement img {
        margin-bottom: 5%;
    }

    .complement-picture {
        margin: auto;
        width: 400px;
    }

    .map {
        margin: auto;
        width: 400px;
    }

    .footer-part-one {
        padding: 2%;
    }

    .footer-part-one-picture {
        width: 30%;
    }
}

/* ** SCREEN MAX-WIDTH 600PX ** */
@media screen and (max-width: 600px) {
    .main-content {
        width: 100%;
    }
}

/* ** SCREEN MAX-WIDTH 500PX ** */
@media screen and (max-width: 500px) {
    .contacts {
        width: 40%;
    }

    .map {
        margin: auto;
        width: 95%;
    }
}

/* ** SCREEN MAX-WIDTH 400PX ** */
@media screen and (max-width: 400px) {
    .contacts {
        width: 40%;
    }

    .contacts li {
        max-width: 400px;
    }

    .complement-picture {
        width: 95%;
    }

    .footer-part-one {
        padding: 4%;
    }

    .footer-part-one-picture {
        width: 50%;
    }
}

/* ** SCREEN MAX-WIDTH 350PX ** */
@media screen and (max-width: 350px) {
    .contacts {
        width: 100%;
    }
}
