:root {
    --cor1: #000;
    --cor2: #fff;
    --cor3: #00660e;
    --cor4: #009213;
    --cor5: #ffff00;
    --cor6: #575757;
    --cor7: #e9e9e9;
    --cor8: #2c7c37;
}


/* INTRO SECTION SETTINGS */
.intro-section {
    background-color: var(--cor1);
    background-color: #212529;
    background: linear-gradient(#212529, #000);
    color: var(--cor2);
    height: auto;
}

#background-video {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background: linear-gradient(#212529, #000);
    background-image: cover;
    overflow: hidden;
}

.content {
    margin-top: 5%;
    position: absolute;
    top: 20px;
    padding: 30px;
    color: #fff;
    text-shadow: #000 2px 2px 2px;
}

.intro-picture {
    margin: auto auto 2% auto;
    width: 17.5%;
}

.intro-section p {
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 1.8em;
    font-family: 'Times New Roman', Times, serif;
}



.intro-section button {
    padding: 15px;
    background-color: var(--cor4);
    margin: 4% auto 2% auto;
    display: block;
    transition: .4s;
}

.intro-section button:hover {
    background-color: var(--cor3);
    transition: 1s;
}

.intro-section button a {
    padding: 15px;
    color: var(--cor2);
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 400;
    border-radius: 7px;
}

.intro-section .span p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}

.intro-section .span i {
    margin: 50%;
    width: 10px;
}

/* THE PROJECT */
.project {
    max-width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 5% auto 6% auto;
}

.project-picture {
    margin-right: 10%;
}

.project-text {
    max-width: 600px;
    line-height: 2em;
}

.project a {
    color: var(--cor4);
    text-decoration: none;
    font-weight: 400;
}

.project a:hover {
    color: var(--cor8);
    text-decoration: none;
}

/* COURSES SECTION */
.courses-section h1 {
    margin-top: 3%;
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 1%;
}

#courses-outside-p {
    text-align: center;
    color: var(--cor6);
    margin-bottom: 2%;
    font-size: 1.1em;
}

.outside-container {
    position: relative;
    height: 600px;
    width: 1300px;
    display: flex;
    align-items: center;
    margin: auto;
}

.swiper {
    width: 1164px;
}

.outside-container .card .image {
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0 0;
}

.outside-container .card .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.card {
    position: relative;
    border-radius: 5px 5px 0 0;
    background: #fff;
}

.card .card-content {
    padding: 0 0 30px 0;
}

.text {
    padding: 0 5%;
    border-bottom: 1px solid #ddd;
}

.card-content h6 {
    margin-top: 10%;
    font-size: 1.5em;
}

.card-content p {
    margin-top: 5%;
    margin-bottom: 10%;
    font-size: 1.1em;
    color: var(--cor6);
}

.extra-content {
    margin-top: 5%;
    padding: 0% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-clock,
.fa-calendar-days {
    color: var(--cor4);
}

.extra-content button {
    padding: 12%;
    width: 120px;
    cursor: pointer;
    background-color: var(--cor4);
    color: var(--cor2);
    transition: all .4s ease;
    font-size: 1.1em;
    border-radius: 7px;
}

.extra-content button:hover {
    background-color: var(--cor8);
}

.swiper-pagination-bullet {
    height: 7px;
    width: 26px;
    border-radius: 25px;
    background: var(--cor4);
}

.swiper-button-next,
.swiper-button-prev {
    opacity: .5;
    color: var(--cor4);
    transition: all .5s ease;
    border-radius: 7px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    opacity: 1;
    color: var(--cor4);
}

.alternate-cards {
    display: none;
}

/* COORDENATION SECTION */
.coordenation-section {
    max-width: 1920px;
    margin: auto;
    margin-bottom: 5%;
}

.coordenation-section h1 {
    margin-top: 3%;
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 3%;
}

.quadrado {
    display: flex;
    justify-content: space-around;
}

.coordinators-div {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.151);
    padding: 2%;
    border: 3px solid rgba(0, 0, 0, 0.192);
}

.coordinators-div h2 {
    margin-bottom: 2%;
    font-size: 1.3em;
}

.coordinators-div h3 {
    font-size: 1.2em;
}

/* INFO SECTION */
/*.info-section {
    background-color: var(--cor1);
    display: flex;
    justify-content: space-around;
    padding: 5%;
}

.info-section h4 {
    color: var(--cor2);
    font-size: 2.5em;
}

.info-section p {
    color: var(--cor4);
    font-size: 1.5em;
}*/

/* FEEDBACK SECTION */
/*.feedback-section {
    margin-top: 5%;
    margin-bottom: 5%;
}

.feedback-section h1 {
    text-align: center;
    font-size: 2em;
    font-weight: 700;
}

#outside-p {
    text-align: center;
}

.feedback-section p {
    text-align: left;
    margin-top: 2%;
    color: var(--cor6);
    margin-bottom: 2%;
}

.feedback-boxes {
    display: flex;
    justify-content: center;
}

.feedback-div {
    max-width: 300px;
    margin: 3%;
    border: 1px solid var(--cor7);
    box-shadow: 3px 3px 3px var(--cor7);
    padding: 2%;
}

.feedback-div h2 {
    font-weight: 700;
    margin-bottom: 10%;
}

.rating-stars {
    margin-top: 10%;
}

.fas {
    color: var(--cor5);
    background-color: var(--cor5);
}

.far {
    color: var(--cor5);
    background-color: var(--cor5);
}*/

/* FOOTER */
.footer-part-one {
    background-color: var(--cor8);
    padding: 2%;
}

.footer-part-one-picture {
    margin: auto;
    width: 17%;
}

/* ** SCREEN MAX-WIDTH 1600PX ** */
@media screen and (max-width: 1600px) {
    .outside-container {
        height: 650px;
    }
}

/* ** SCREEN MAX-WIDTH 1350PX ** */
@media screen and (max-width: 1350px) {
    .outside-container {
        height: 600px;
        width: 90%;
    }

    .swiper {
        width: 80%;
    }

    .extra-content button {
        padding: 10%;
        width: 100px;
        border-radius: 7px;
    }
}

/* ** SCREEN MAX-WIDTH 1200PX ** */
@media screen and (max-width: 1200px) {
    #background-video {
        min-width: 1000px;
        width: 100%;
    }

    .content {
        margin-top: 5%;
        top: 10px;
    }

    .intro-section p {
        font-size: 1.4em;
    }
}

/* ** SCREEN MAX-WIDTH 1000PX ** */
@media screen and (max-width: 1050px) {
    .intro-section {
        margin-bottom: 5%;
    }

    .intro-picture {
        margin: auto auto 2% auto;
        width: 25%;
    }

    .intro-section p {
        width: 80%;
    }

    .intro-video {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        min-width: 800px;
        min-height: 200px;
        width: 100%;
        height: 550px;
        background: linear-gradient(#212529, #000);
        background-image: cover;
        overflow: hidden;
    }

    .content {
        margin-top: 2%;
        top: 0px;
        padding: 0;
    }

    .outside-container {
        height: 600px;
        width: 100%;
    }

    .swiper {
        width: 90%;
    }
}

/* ** SCREEN MAX-WIDTH 800PX ** */
@media screen and (max-width: 850px) {
    .footer-part-one-picture {
        margin: auto;
        width: 25%;
    }

    .intro-video {
        min-width: 500px;
    }

    .project {
        max-width: 850px;
        display: block;
        text-align: justify;
        width: 100%;
    }

    .project-picture {
        width: 40%;
        margin: auto;
    }

    .project-text {
        width: 90%;
        margin: auto;
    }
}

/* ** SCREEN MAX-WIDTH 800PX ** */
@media screen and (max-width: 800px) {
    .outside-container {
        display: none;
    }

    .alternate-cards {
        display: block;
    }

    .two-cards-up,
    .two-cards-down {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .two-cards-up {
        margin-bottom: 3%;
    }

    .one,
    .three {
        margin-right: 2%;
    }

    .card {
        position: block;
        width: 45%;
    }

    .project-picture {
        width: 50%;
    }
}

/* ** SCREEN MAX-WIDTH 600PX ** */
@media screen and (max-width: 600px) {

    .two-cards-up,
    .two-cards-down {
        display: block;
    }

    .two-cards-up {
        margin-bottom: 0;
    }

    .one,
    .two,
    .three,
    .four {
        margin: auto auto 3% auto;
    }

    .card {
        position: block;
        width: 65%;
    }
}

/* ** SCREEN MAX-WIDTH 500PX ** */
@media screen and (max-width: 550px) {
    .footer-part-one-picture {
        margin: auto;
        width: 40%;
    }

    .intro-picture {
        margin: auto auto 2% auto;
        width: 40%;
    }

    .intro-section p {
        width: 90%;
        font-size: 1.5em;
    }

    .intro-video {
        min-width: 400px;
    }
}

/* ** SCREEN MAX-WIDTH 500PX ** */
@media screen and (max-width: 500px) {
    .card {
        width: 79%;
    }
}

/* ** SCREEN MAX-WIDTH 450PX ** */
@media screen and (max-width: 450px) {
    .outside-container {
        height: 550px;
    }
}

/* ** SCREEN MAX-WIDTH 400PX ** */
@media screen and (max-width: 400px) {
    .intro-picture {
        margin: auto auto 2% auto;
        width: 50%;
    }

    .card {
        width: 95%;
    }

    .quadrado {
        display: block;
    }

    .coordinators-div {
        width: 90%;
        margin: auto auto 4% auto;
    }

    .coordinators-div h2 {
        margin-bottom: 2%;
        font-size: 1.3em;
        text-align: center;
    }

    .coordinators-div h3 {
        font-size: 1.2em;
        text-align: center;
    }

    .coordinators-div img {
        margin: auto;
    }

    .coordinators-div-img {
        margin: auto;
        width: 45%;
    }

    .intro-section p {
        width: 95%;
        font-size: 1.3em;
    }

    .intro-section button {
        padding: 6px;
        background-color: var(--cor4);
        margin: 4% auto 2% auto;
        display: block;
        transition: .4s;
        border-radius: 7px;
    }

    .intro-video {
        min-width: 200px;
    }

    .project-picture {
        width: 70%;
    }
}

/* ** SCREEN MAX-WIDTH 350PX ** */
@media screen and (max-width: 350px) {
    .outside-container {
        height: 550px;
        width: 100%;
    }

    .swiper {
        width: 95%;
    }
}