@charset "UTF-8";

.main-picture {
    margin: auto auto 2% auto;
    width: 647px;
}

/* ** SCREEN MAX-WIDTH 640PX ** */
@media screen and (max-width: 640px) {
    .main-picture {
        width: 95%;
    }
}
