@charset "UTF-8";

main {
    margin-top: 4%;
}

main h1 {
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 3%;
}

.instructors {
    margin: 5% auto;
}

.professors {
    max-width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.professor {
    max-width: 400px;
    background: none;
    padding: 1%;
    border-radius: 10px 10px 0 0;
}

.professor-margin-right {
    margin-right: 10%;
}

.professor-picture {
    margin: auto auto 4% auto;
    width: 45%;
}

.professor-name {
    color: #000;
    font-size: 1.6em;
    padding-bottom: 4%;
    border-bottom: 1px solid #ddd;
}

.professor-info {
    color: #000;
    font-size: 1.2em;
    font-weight: 500;   
}

.professor-certification {
    color: #000;
    font-size: 1.2em;
    font-weight: 400;
}

.professor-curiculum a {
    color: #009213;
    text-decoration: none;
    font-weight: 400;
}

.professor-curiculum a:hover {
    color: #0f691b;
}

/* ** SCREEN MAX-WIDTH 550PX ** */
@media screen and (max-width: 550px) {
    .professors {
        display: block;
    }

    .professor {
        margin: auto;
    }

    .professor-margin-right {
        margin-right: auto;
    }
}

/* ** SCREEN MAX-WIDTH 400PX ** */
@media screen and (max-width: 400px) {
    .professor {
        width: 95%;
        margin-bottom: 2%;
    }

    .professor-name {
        font-size: 1.4em;
    }
}