@charset "UTF-8";

/* GENERAL SETTINGS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-weight: 300;
    font-size: 100%;
}

:root {
    --cor1: #000;
    --cor2: #fff;
    --cor3: #00660e;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

label {
    font-weight: bold;
    font-size: small;
    margin: 0 0 5;
}

.genero {
    border: 1px solid #ced4da;
}

.ds-label {
    color: #969696;
    display: block;
    margin: -5px 0 10px 0;
    font-size: 12px;
}

.mb {
    padding-bottom: 40px;
}


@media (max-width: 600px) {
    .form-control {
        padding: .2em .4em;
        font-size: small;
    }

    label {
        font-size: x-small;
    }

    #arquivo_frente,
    #arquivo_verso {
        font-size: small;
    }
}

@media (max-width: 1000px) {
    .container-fluid {
        width: 100% !important;
        padding: 0 5px;
    }
}

/* HEADER SETTINGS */

/* APAGADO PRO BOOTSTRAP header {
    background-color: var(--cor1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

header a {
    color: var(--cor2);
}

.logo {
    margin-left: 1%;
}

.navbar {
    height: 50px;
    background-color: var(--cor1);
    margin: 5px;
}

.menu-list {
    position: relative;
}

.menu-itens {
    width: 125px;
    float: left;
}

.navbar a {
    padding: 15px;
    display: block;
    text-align: center;
    background-color: var(--cor1);
}

#list-01, #list-02, #list-03 {
    position: absolute;
    visibility: hidden;
}

#list-01 {
    margin: 50px auto;
}

#list-02 {
    margin: 50px 125px 0 125px;
}

#list-03 {
    margin: 50px 250px 0 250px;
}*/

/*.dropdown-list {
    position: absolute;
    visibility: hidden;
}*/

/* APAGADO PRO BOOTSTRAP #item-01:hover #list-01 {
    visibility: visible;
}*/

/*.navbar ul li:hover ul {
    visibility: visible;
}*/

/* APAGADO PRO BOOTSTRAP .navbar a:hover {
    background-color: var(--cor3);
    transition: .5s;
    border-radius: 10px;
}

.dropdown-itens {
    float: none;
}

.dropdown-itens a {
    background-color: var(--cor3);
}

.dropdown-itens a:hover {
    background-color: var(--cor1);
    transition: 1s;
}*/

/*
.toggle-button {
    position: absolute;
    top: 2.2rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.bar {
    height: 3px;
    width: 100%;
    background-color: var(--cor2);
    border-radius: 10px;
}
*/

/* FOOTER */
.footer-part-two {
    background-color: var(--cor1);
    padding: 1.5%;
}