{% load static %}
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <picture>
                    <source srcset="{% static 'images/logo-ifrn-branco-3.png'%}" media="(max-width: 530px)">
                    <img src="{% static 'images/logo-ifrn-grande-2.png'%}" alt="Logo Branco do IFRN">
                </picture>
                
                <picture>
                    <source srcset="{% static 'images/logo-huawei-pq-3.png'%}" media="(max-width: 530px)">
                    <img src="{% static 'images/logo-huawei-2.png'%}" alt="Logo Branco da Huawei">
                </picture>
            </a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Início</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" aria-current="page" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Sobre
                        </a>
                        
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/sobre_ict_academy">ICT Academy</a></li>
                            <li><a class="dropdown-item" href="/sobre_huawei">Huawei</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" aria-current="page" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Cursos
                        </a>
                        
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/cloud_service">Cloud Service</a></li>
                            <li><a class="dropdown-item" href="/inteligencia_artificial">Inteligência Artificial</a></li>
                            <li><a class="dropdown-item" href="/datacom">Datacom</a></li>
                            <li><a class="dropdown-item" href="/5g">5G</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/hands-on">Hands on</a></li>

                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" aria-current="page" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Eventos
                        </a>
                        
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/ict_job_fair_brasil">ICT Job Fair Brasil</a></li>
                            <li><a class="dropdown-item" href="/ict_competition_brasil">ICT Competition Brasil</a></li>
                            <li><a class="dropdown-item" href="/seeds_for_the_future">Seeds for the Future</a></li>
                        </ul>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/laboratorios">Laboratórios</a>
                    </li>
                
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/instrutores">Instrutores</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/certificacao">Certificação</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/contato">Contato</a>
                    </li>
                </ul>
                {% if 'aluno_id' in request.session.keys %}
                    <a href="/aluno" class="btn btn-lg btn-outline-success" style="margin-right: 0.5rem;">Área do Aluno</a>
                    <a href="/deslogar" class="btn btn-lg btn-outline-danger">Sair</a>
                {% elif 'prof_id' in request.session.keys %}
                    <a href="/professor" class="btn btn-lg btn-outline-success" style="margin-right: 0.5rem;">Área do Professor</a>
                    <a href="/deslogar" class="btn btn-lg btn-outline-danger">Sair</a>
                {% else %}
                    <a href='/login' class="btn btn-lg btn-outline-success" style="width: 6rem; margin-right: 0.5rem;">Entrar</a>
                    <a href='/cadastro' class="btn btn-lg btn-outline-success" style="width: 9rem;">Cadastre-se</a>
                {% endif %}

            </div>
        </div>
    </nav>
</header>