{% extends 'dashboard.html' %}
{% load static %}
{% block 'titulo' %}Página do Aluno - IFRN Huawei{% endblock 'titulo' %}
{% block 'estilos' %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock 'estilos' %}

{% block 'conteudo' %}
<div class="container">
    <h1 class="mt-2">Minhas Turmas</h1>
    <div class="row mt-2">
        {% for inscricao in inscricoes %}
            <div class="col-md-4">
                <div class="card">
                    {% if inscricao.turma.nome_do_curso == 'Cloud Service' %}
                        <img src="{% static 'images/cloud-service-card.png' %}" alt="" class="card-img-top">
                    {% elif inscricao.turma.nome_do_curso == 'Inteligência Artificial' %}
                        <img src="{% static 'images/ai-card.png' %}" alt="" class="card-img-top">
                    {% elif inscricao.turma.nome_do_curso == 'Datacom'%}
                        <img src="{% static 'images/datacom-card.png' %}" alt="" class="card-img-top">
                    {% else%}
                        <img src="{% static 'images/5g-card.png' %}" alt="" class="card-img-top">
                    {% endif %}
                        <div class="card-body">
                        <h5 class="card-title">{{ inscricao.turma.nome_do_curso }}</h5>
                        {% if inscricao.aprovada %}
                            <a class="btn btn-primary" href="/turmainfo/{{inscricao.turma.id}}">Informações</a>
                            <a class="btn btn-primary" href="/notas/{{inscricao.id}}">Notas</a>
                        {% else %}
                            <h6 class="card-subtitle mb-2 text-muted">Inscrição em Análise...</h6>
                            <form action="/desinscrever/" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="inscricao" value="{{inscricao.id}}">
                                <input type="submit" class="btn btn-danger" value="Cancelar Inscrição"/>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock 'conteudo' %}