{% extends 'base.html' %}
{% load static %}
{% block 'titulo' %}Cadastro{% endblock 'titulo' %}
{% block 'estilos' %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/style2.css' %}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.1/jquery.min.js"></script>
{% endblock 'estilos' %}
{% block 'conteudo' %}
<div class="container-fluid d-flex flex-column justify-content-center w-75">
    <div class="col flex-column">

      <h1 class="page-header mt-2">Cadastro</h1>
      <form method='POST' action='/cadastrar/'>
        {% csrf_token %}  
              <div class="card mb-4">
          <div class="card-header">
            Dados Pessoais
          </div>
          <div class="card-body">
              <div class="form-row">
                <div class="form-group col">
                  <label for="cpf" class="form-label">CPF*</label>
                  <input type="text" class="form-control" name='cpf' aria-label="CPF" id="cpf">
                </div>
                <div class="form-group col-8">
                  <label for="nomeAluno" class="form-label">Nome*</label>
                  <input type="text" class="form-control" name='nome' aria-label="Nome" id="nomeAluno">
                </div>
                <div class="form-group col align-items-center">
                  <label for="genero" class="form-label">Gênero*</label>
                  <select class="form-control genero" name='genero' aria-label="Gênero" id="genero">
                    <option value="1" selected>Masculino</option>
                    <option value="2">Feminino</option>
                  </select>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col align-items-center">
                  <label for="formacao" class="form-label">Formação*</label>
                  <select class="form-control genero" name='formacao' aria-label="Formação" id="formacao">
                    <option value="1" selected>Ensino Fundamental I (1º a 5º) - Incompleto</option>
                    <option value="2">Ensino Fundamental I (1º a 5º) – Completo</option>
                    <option value="3">Ensino Fundamental II (6º a 9º) – Incompleto</option>
                    <option value="4">Ensino Fundamental II (6º a 9º) – Completo</option>
                    <option value="5">Ensino Médio – Incompleto</option>
                    <option value="6">Ensino Médio – Completo</option>
                    <option value="7">Ensino Superior – Incompleto</option>
                    <option value="8">Ensino Superior – Completo</option>
                    <option value="9">Pós-graduação</option>
                  </select>
                </div>
                <div class="form-group col-3">
                  <label for="data-nascimento" class="form-label">Data de Nascimento*</label>
                  <input type="date" class="form-control" name='nascimento' aria-label="Data de Nascimento" id="data-nascimento">
                </div>
                <div class="form-group col-2 align-items-center">
                  <label for="aluno-ifrn" class="form-label">É aluno do IFRN?*</label>
                    <select class="form-control genero" name='aluno-ifrn' aria-label="É aluno do IFRN?" id="aluno-ifrn">
                      <option value="1" selected>Não</option>
                      <option value="2" onclick="">Sim</option>
                    </select>
                </div>
                <div class="form-group col-2">
                  <label for="servidor-ifrn" class="form-label">É servidor do IFRN?*</label>
                    <select class="form-control genero" name='servidor-ifrn' aria-label="É servidor do IFRN?" id="servidor-ifrn">
                      <option value="1" selected>Não</option>
                      <option value="2">Sim</option>
                    </select>
                </div>
              </div>


              <div class="form-row align-items-center" id='instituicao'>
                <div class="form-group col-7">
                  <label for="instituicaoAluno" class="form-label">Instituição de ensino*</label>
                  <input type="text" class="form-control" name='instituicao-de-ensino' aria-label="Instituição de Ensino" id="instituicaoAluno">
                </div>
                <div class="form-group col-3">
                  <label class="form-check-label" for="flexCheckDefault">
                    Concluído
                  </label>
                  <input class="form-label" name='concluido' type="checkbox" value="" id="flexCheckDefault">
                </div>
              </div>
              
                </div>
              </div>
              <div class="card mb-4">
                <div class="card-header">
                  Dados do Contato
                </div>
                <div class="card-body">
                    <div class="form-row">
                      <div class="form-group col-9">
                        <label for="email" class="form-label">Email*</label>
                        <input type="email" class="form-control" name='email' aria-label="Email" id="email">
                      </div>
                <div class="form-group col-3">
                  <label for="celular" class="form-label">Celular*</label>
                  <input type="tel" class="form-control" name='celular' aria-label="Celular" id="celular">
                </div>
              </div>
                </div>
              </div>
              <div class="card mb-4">
                <div class="card-header">
                  Documentação
                </div>
                <div class="card-body">
                    <div class="form-row">
                      <div class="form-group col-lg-6">
                        <label for="arquivo_frente">Comprovação de conhecimento(s)*</label>
                        <span class="ds-label">Anexe aqui um documento que comprove seu conhecimento na área.</span>
                        <input type="file" name="comprovante-conhecimento" id="comprovante-conhecimento" accept="image/*">
                      </div>
                    </div>
                </div>
              </div>
            
              <div class="card mb-4">
                <div class="card-header">
                  Senha
                </div>
                <div class="card-body">
                    <div class="form-row">
                      <div class="form-group col">
                        <label for="senha" class="form-label">Senha*</label>
                        <input type="password" class="form-control" name='senha' aria-label="senha" id="senha">
                      </div>
                    </div>
                </div>
              </div>
            <div class="mb">
              <input type="submit" class="btn btn-success">Inscrever-se</button>
              <button type="back" class="btn btn-outline-primary">Voltar</button>
            </div>
      </form>
      </div>
</div>

<script>
    $('#aluno-ifrn').change(function(event){
    var valor = event.currentTarget.value;
    $servidor = document.getElementById('servidor-ifrn')
    if(valor=="1" && $servidor.value=="1"){
      document.getElementById('instituicao').style.display = 'flex';
    }else{
      document.getElementById('instituicao').style.display = 'none';
    }
});

  $('#servidor-ifrn').change(function(event){
    var valor = event.currentTarget.value;
    $aluno = document.getElementById('aluno-ifrn')
    if(valor=="1" && $aluno.value=="1"){
        document.getElementById('instituicao').style.display = 'flex';
    }else{
        document.getElementById('instituicao').style.display = 'none';
    }
  });
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
crossorigin="anonymous"></script>
{% endblock 'conteudo' %}
