{% extends 'base.html' %}
{% load static %}
{% block 'estilos' %}<link rel="stylesheet" href="{% static 'css/certificacao.css' %}">{% endblock 'estilos' %}
{% block 'titulo' %}Certificação - IFRN Huawei{% endblock 'titulo' %}
{% block 'conteudo' %}
    <main>
        <section class="page-title">
            <h1>Certificação</h1>
        </section>

        <div class="main-content">
            <div class="main-picture">
                <img src="{% static 'images/person-vue-2.jpg' %}" alt="Person VUE Authorized Center">
            </div>

            <div class="main-text">
                <p>A Pearson VUE é o serviço de teste eletrônico da empresa Pearson, que ajuda na qualificação para o mercado de trabalho através da avaliação e certificação dos conhecimentos e das habilidades em uma determinada área. A Pearson Vue, empresa detentora do sistema para aplicação das provas, já autorizou o funcionamento do campus Mossoró como centro de certificação apto a aplicar às provas de forma presencial desde 2018, após análise e atendimento de todos os critérios exigidos pela mesma.</p>
                
                <p>Agende sua prova através do site da <a href="https://home.pearsonvue.com/" rel="external" target="_blank">Pearson</a></p>
                
                <p>Agende sua prova de certificação Huawei através da plataforma <a href="https://e.huawei.com/en/talent/#/pearson-VUE-appointment" rel="external" target="_blank">Talent</a></p>
            </div>

            <aside>
                <p class="extra-event-info">Obs: Esse formato de aplicação de prova é somente para provas presenciais em que o aluno necessitará de pagar pela prova.</p>
            </aside>
        </div>
    </main>

    <!-- FOOTER -->
    <footer>            
        <section class="footer-part-two">
            <img src="{% static 'images/logo-ifrn-branco-3.png' %}" alt="Logo do IFRN">
            <img src="{% static 'images/logo-huawei-2.png' %}" alt="Logo da Huawei">
        </section>
    </footer>
{% endblock 'conteudo' %}