{% extends 'base.html' %}
{% load static %}
{% block 'titulo' %}Huawei - IFRN{% endblock 'titulo' %}
{% block 'estilos' %}
    <link rel="stylesheet" href="{$ static 'css/style2.css' %}">
    <link rel="stylesheet" href="{% static 'css/cursos2.css %}'">
    <link rel="stylesheet" href="{% static 'css/vlibras.css %}'">
{% endblock 'estilos' %}
{% block 'conteudo' %}

      <!-- MAIN -->
      <main>
        <section class="page-title">
            <h1>Cloud Service</h1>
        </section>

        <section class="course">
            <!-- COURSE PRESENTATION -->
            <div class="course-presentation">
                <div class="course-photo">
                    <img src="{% static 'images/cloud-service-3.png' %}" alt=" Foto do Cloud Service">
                </div>

                <div align="justify" class="course-desc">
                    <h3>Huawei ICT Academy Cloud Service</h3>
                    <ul class="course-sub-infos">
                        <li class="margin-needed"><h4 id="subscritions-status">Inscrições em breve*</h4></li>
                        <li class="margin-needed"><h5>TURMA: 000-000</h5></li>
                        <li><h5>VAGAS: 000</h5></li>
                    </ul>
                    
                    <p>As tecnologias e serviços de nuvem em todo o mundo tornaram-se uma tendência. Nesse sentido, a computação em nuvem consiste em utilizar uma rede de servidores remotos na internet, com a função de operar, armazenar e processar dados. Evitando o uso de uma infraestrutura física. De acordo com pesquisa liderada pela Deloitte, as PMEs (Pequenas Empresas) utilizam em média uma série de serviços que são aproximadamente 26% mais rápidos e aproximadamente 26% mais rápidos do que aqueles que não usam, e são 21% mais rentáveis. Uma das principais vantagens do uso da computação em nuvem é que não há necessidade de ter máquinas superpotentes para suas tarefas ou ter uma grande infraestrutura necessária para um datacenter. Outro benefício é a flexibilidade geográfica e mobilidade que permite, pois todos os arquivos, dados e tarefas podem ser acessados de qualquer lugar do mundo. Além da economia de custos com instalações físicas e manutenções.</p>
                    <h6>*Verificar datas de inscrição</h6>
                    <a href="https://forms.office.com/r/jKtdkTbDuW" rel="external" target="_blank"><button>INSCREVA-SE</button></a> <a role="link" aria-disabled="true" class="disabled-link"><button>EDITAL</button></a>
                </div>
            </div>

            <!-- EXTRA INFOS -->
            <div class="course-extra-info">
                <div class="course-extra-info-titles">
                    <h4 class="titles margin act-ive" id="title-01">O que você vai aprender no curso</h4>
                    <h4 class="titles margin" id="title-02">O HCIA-Cloud Service V3.0 exame cobre</h4>
                    <h4 class="titles margin" id="title-03">Informação adicional</h4>
                    <h4 class="titles" id="title-04">Resultados</h4>
                </div>

                <div align="justify" class="section-01">
                    <p>Conceitos e princípios básicos de computação, armazenamento e rede. Assim como princípios básicos do linux e operações de comando e conceitos básicos de serviços em nuvem e uso de serviços em nuvem. Também serão vistos serviços como Elastic Cloud service (ECS), Elastic Load Balance (ELB), Elastic IP (EIP), Relational Database Service (RDS) e Virtual Private Cloud (VPC). Ao fim do curso você será capaz de montar uma infraestrutura de alta disponibilidade por meio dos serviços da Huawei Cloud Service. O aluno receberá um voucher da Huawei para usar os serviços da nuvem durante o treinamento sem ter que pagar por nada. Esse curso é voltado para técnicos, engenheiros de redes, system engineers, engenheiros de virtualização, universitários de tecnologia e DevOps que pretendam ingressar na carreira de Cloud e/ou indivíduos com interesse em obter a certificação de HCIA-CLOUD da Huawei.</p>
                </div>

                <div align="justify" class="section-02">
                    <p>O exame HCIA-Cloud Service V3.0 abrange noções básicas de computação em nuvem, visão geral do HUAWEI CLOUD, serviços de computação em nuvem, serviços de rede em nuvem, serviços de armazenamento em nuvem, noções básicas de HUAWEI CLOUD O&M, bancos de dados, EI, CDN e serviços de segurança.</p>

                    <ul>
                        <li>Cloud Computing Basics</li>
                        <li>HUAWEI CLOUD Overview</li>
                        <li>Compute Cloud Services</li>
                        <li>Network Cloud Services</li>
                        <li>Storage Cloud Services</li>
                        <li>Database, Security, CDN, and EI Services</li>
                        <li>HUAWEI CLOUD O&M Basics</li>
                    </ul>

                    <a href="pdfs/hcia-cloud-service-v3.0-exam-outline.pdf" target="download" download="HCIA-Cloud Service V3.0 Exam Outline.pdf">Download: HCIA-Cloud Service V3.0 Exam Outline</a>

                    <h5 class="titles-inside-course-extra-info">O que são Vouchers:</h5>
                    <p class="titles-inside-course-extra-info-p">Os alunos que se destacarem no curso terão direito a vouchers para realização das provas de certificação com a HUAWEI. Em média, essa prova de certificação custa entre $200,00 (duzentos dólares). Com o credenciamento do IFRN como ICT Academy, o curso de capacitação será gratuito a estudantes e profissionais no estado do Rio Grande do Norte tendo, como requisito mínimo, o nível médio completo e participação do treinamento através do ICT Academy - IFRN.</p>
                </div>

                <div class="section-03">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="darkness"><strong>Modalidade</strong></td>
                                <td class="lightness">100% Online</td>
                            </tr>
                            <tr>
                                <td class="darkness"><strong>Carga Horária</strong></td>
                                <td class="lightness">40hs</td>
                            </tr>
                            <tr>
                                <td class="darkness"><strong>Turno</strong></td>
                                <td class="lightness">Noturno</td>
                            </tr>
                            <tr>
                                <td class="darkness"><strong>Horários</strong></td>
                                <td class="lightness">Web conferencia (via Microsoft Teams) das 20:00 às 22:00 (presença online obrigatória)</td>
                            </tr>
                            <tr>
                                <td class="darkness"><strong>Pré-Requisitos</strong></td>
                                <td class="lightness">Inglês básico para leitura, conhecimentos básicos de redes de computadores, conhecimentos básicos de servidores e noções básicas de storage</td>
                            </tr>
                        </tbody>
                    </table>

                    <p>*Todos os instrutores possuem certificação HCIA e HCAI conforme pode ser consultado no <a href="instrutores">link</a>.</p>
                </div>

                <div class="section-04">
                    <div class="results-div"><a role="link" aria-disabled="true" class="results"><button>Lista de Resultados</button></a></div>
                </div>
            </div>

            <div class="instructors">
                <h4 class="presenting-professors">Professores e Bolsistas</h4>
                <hr>
                <p id="no-one-here">Este curso ainda não tem instrutores definidos</p>
                <!--<ul class="professors">
                    <li class="professor">
                        <img src="#" alt="">
                        <h5 class="professor-name">Nome do professor</h5>
                        <h6 class="professor-info">Descrição do professor</h6>
                    </li>
                    <li class="professor">
                        <img src="#" alt="">
                        <h5 class="professor-name">Nome do professor</h5>
                        <h6 class="professor-info">Descrição do professor</h6>
                    </li>
                    <li class="professor">
                        <img src="#" alt="">
                        <h5 class="professor-name">Nome do professor</h5>
                        <h6 class="professor-info">Descrição do professor</h6>
                    </li>
                    <li class="professor">
                        <img src="#" alt="">
                        <h5 class="professor-name">Nome do professor</h5>
                        <h6 class="professor-info">Descrição do professor</h6>
                    </li>
                    <li class="professor">
                        <img src="#" alt="">
                        <h5 class="professor-name">Nome do professor</h5>
                        <h6 class="professor-info">Descrição do professor</h6>
                    </li>
                </ul>-->
            </div>
        </section>
    </main>

    <!-- FOOTER -->
    <footer>            
        <section class="footer-part-two">
            <img src="{% static 'images/logo-ifrn-branco-3.png' %}" alt="Logo do IFRN">
            <img src="{% static 'images/logo-huawei-2.png' %}" alt="Logo da Huawei">
        </section>
    </footer>


{% endblock 'conteudo' %}