{% extends 'base.html' %}
{% load static %}
{% block 'titulo' %}Huawei - IFRN{% endblock 'titulo' %}

{% block 'conteudo' %}
        <main>
            <section class="page-title">
                <h1>Hands On (Gratuitos)</h1>
            </section>
            <div class="px-5">

                <div class="card my-5" aria-hidden="true">
                    <div class="d-flex">
                        <div>
                            <img src="{% static 'images/hands-on/tcp-ip.jpg' %}" alt="Imagens de cabo RJ-45" class="img-hands">
                        </div>
                        <div class="d-block my-3 mx-4">
                            <h5 class="card-title">
                                Aplicações da rede TCP/IP
                            </h5>
                            <p class="card-text text-hands">
                                Este curso é lançado em conjunto pela Huawei e pela Capital Normal University. O curso apresenta os protocolos de aplicativos populares na rede TCP/IP, incluindo HTTP, HTTPS, DNS, TELNET, SSH, SNMP, FTP, TFTP e DHCP. Aprenderemos os princípios desses protocolos, bem como a análise de pacotes.
                            </p>
                            <div class="btn-hands mb-3 me-4">
                                <a class="btn btn-primary" href="https://talent.huaweiuniversity.com/portal/courses/HuaweiX+EBG2020NCHW1100022/about" role="button">Inscreva-se agora</a>
                            </div>
                        </div>
                    </div> <!-- end flex -->
                </div> <!-- end card -->

                <div class="card my-5" aria-hidden="true">
                    <div class="d-flex">
                        <div>
                            <img src="{% static 'images/hands-on/datacom.jpg' %}" alt="Banner datacom" class="img-hands">
                        </div>
                        <div class="d-block my-3 mx-4">
                            <h5 class="card-title">
                                Datacom básico
                            </h5>
                            <p class="card-text text-hands">
                                Este curso é lançado em conjunto pela Huawei e pela Universidade de Ciência e Tecnologia de Xi'an. Ele apresenta alguns dos conhecimentos básicos do Datacom. Como protocolos de camada de rede e endereçamento IP, Noções básicas de roteamento IP, etc.
                            </p>
                            <div class="btn-hands mb-3 me-4">
                                <a class="btn btn-primary" href="https://talent.huaweiuniversity.com/portal/courses/HuaweiX+EBG2020NCHW1100104/about" role="button">Inscreva-se agora</a>
                            </div>
                        </div>
                    </div> <!-- end flex -->
                </div> <!-- end card -->

                <div class="card my-5" aria-hidden="true">
                    <div class="d-flex">
                        <div>
                            <img src="{% static 'images/hands-on/datacom-av.jpg' %}" alt="Banner datacom" class="img-hands">
                        </div>
                        <div class="d-block my-3 mx-4">
                            <h5 class="card-title">
                                Curso HCIA-Datacom V1.0
                            </h5>
                            <p class="card-text text-hands">
                                Este curso é adequado para HCIA-Datacom V1.0. Este curso é um curso básico de comunicação de dados para futuros novos talentos de rede. A barreira de entrada zero permite que você domine facilmente os recursos de projeto, implementação e operação e manutenção de pequenas e médias empresas redes de tamanho....
                            </p>
                            <div class="btn-hands mb-3 me-4">
                                <a class="btn btn-primary" href="https://talent.huaweiuniversity.com/portal/courses/HuaweiX+EBG2020CCHW1100085/about" role="button">Inscreva-se agora</a>
                            </div>
                        </div>
                    </div> <!-- end flex -->
                </div> <!-- end card -->

                <div class="card my-5" aria-hidden="true">
                    <div class="d-flex">
                        <div>
                            <img src="{% static 'images/hands-on/wlan.jpg' %}" alt="Banner datacom" class="img-hands">
                        </div>
                        <div class="d-block my-3 mx-4">
                            <h5 class="card-title">
                                Curso HCIA-WLAN V3.0
                            </h5>
                            <p class="card-text text-hands">
                                Este curso é aplicável ao HCIA-WLAN V3.0 (a ser lançado em 31 de maio de 2021). Este curso apresenta e demonstra a teoria de WLAN, soluções de configuração de segurança e serviço, métodos de solução de problemas e casos de implantação de projetos de WLAN.
                            </p>
                            <div class="btn-hands mb-3 me-4">
                                <a class="btn btn-primary" href="https://talent.huaweiuniversity.com/portal/courses/HuaweiX+EBG2021CCHW1100020/about" role="button">Inscreva-se agora</a>
                            </div>
                        </div>
                    </div> <!-- end flex -->
                </div> <!-- end card -->

                <div class="card my-5" aria-hidden="true">
                    <div class="d-flex">
                        <div>
                            <img src="{% static 'images/hands-on/cloud-basic.jpg' %}" alt="Banner datacom" class="img-hands">
                        </div>
                        <div class="d-block my-3 mx-4">
                            <h5 class="card-title">
                                Conceitos básicos de Cloud: desenvolvimento e conceitos básicos
                            </h5>
                            <p class="card-text text-hands">
                                Este curso enfoca conceitos básicos de Computação em Nuvem. Você aprenderá sobre a definição, origem, características e modelos de implantação de Cloud Computing. A arquitetura de nuvem e duas tendências também serão introduzidas.
                            </p>
                            <div class="btn-hands mb-3 me-4">
                                <a class="btn btn-primary" href="https://talent.huaweiuniversity.com/portal/courses/HuaweiX+PACDCSREN061/about" role="button">Inscreva-se agora</a>
                            </div>
                        </div>
                    </div> <!-- end flex -->
                </div> <!-- end card -->

                <div class="card my-5" aria-hidden="true">
                    <div class="d-flex">
                        <div>
                            <img src="{% static 'images/hands-on/cloud.jpg' %}" alt="Banner datacom" class="img-hands">
                        </div>
                        <div class="d-block my-3 mx-4">
                            <h5 class="card-title">
                                Curso HCIA-Cloud Service V3.0
                            </h5>
                            <p class="card-text text-hands">
                                Engenheiros de treinamento e certificação capazes de construir arquiteturas de TI corporativas usando serviços de nuvem comuns, como computação, armazenamento e serviços de rede, e usar e gerenciar serviços de nuvem.
                            </p>
                            <div class="btn-hands mb-3 me-4">
                                <a class="btn btn-primary" href="https://talent.huaweiuniversity.com/portal/courses/HuaweiX+EBGTD9062/about" role="button">Inscreva-se agora</a>
                            </div>
                        </div>
                    </div> <!-- end flex -->
                </div> <!-- end card -->

                
            </div> <!-- end conteudo -->
        </main>
{% endblock 'conteudo' %}