{% extends 'base.html' %}
{% load static %}
{% block 'estilos' %}
    <link rel="stylesheet" href="{% static 'css/about-ict-academy.css' %}">
    <link rel="stylesheet" href="{% static 'css/about-huawei.css' %}">
    <link rel="stylesheet" href="{% static 'css/ict-job-fair-brasil.css' %}">
{% endblock 'estilos' %}
{% block 'titulo' %}ICT Job Fair Brasil - IFRN Huawei{% endblock 'titulo' %}

{% block 'conteudo' %}
<main>
    <section class="page-title">
        <h1>Huawei ICT JOB FAIR Brasil</h1>
    </section>

    <div class="main-content">
        <div class="main-picture">
            <img src="{% static 'images/job-fair-brasil.png' %}" alt="Banner do Evento">
        </div>

        <div class="main-text">
            <p>Há 23 anos no Brasil, a Huawei já capacitou mais de 30 mil profissionais no País, nos últimos 5 anos, e gera milhares de empregos diretos e indiretos no Brasil na área de tecnologia da informação e comunicação (TIC). Como parte da estratégia de contribuir para a transformação digital do País, a empresa sedia o Huawei ICT Job Fair é uma feira onde empresas de todo o Brasil vão divulgar vagas de estágio e emprego para os alunos do ICT Academy. Sendo assim, é uma ótima oportunidade para conseguir o tão esperado emprego ou mesmo estágio em TIC. A feira acontece anualmente geralmente nos meses de dezembro.</p>
        </div>
        
        <h2>Fonte: Huawei</h2>
    </div>            
</main>

<!-- FOOTER -->
<footer>            
    <section class="footer-part-two">
        <img src="{% static 'images/logo-ifrn-branco-3.png' %}" alt="Logo do IFRN">
        <img src="{% static 'images/logo-huawei-2.png' %}" alt="Logo da Huawei">
    </section>
</footer>
{% endblock 'conteudo' %}