{% extends 'base.html' %}
{% load static %}
{% block 'estilos' %}
    <link rel="stylesheet" href="{% static 'css/about-ict-academy.css' %}">
    <link rel="stylesheet" href="{% static 'css/about-huawei.css' %}">
    <link rel="stylesheet" href="{% static 'css/ict-competition-brasil.css' %}">
{% endblock 'estilos' %}
{% block 'titulo' %}ICT Competition Brasil - IFRN Huawei{% endblock 'titulo' %}

{% block 'conteudo' %}
<main>
    <section class="page-title">
        <h1>ICT Competition Brasil</h1>
    </section>

    <div class="main-picture">
        <img src="{% static 'images/ict-competition-brasil.png' %}" alt="Banner do Evento">
    </div>

    <div class="main-content">
        <div class="main-text">
            <p>O Huawei ICT Competition é um evento competitivo de intercâmbio de talentos de TIC desenvolvido pela Huawei para estudantes em todo o mundo. Por meio dessa competição, a Huawei tem como objetivo fornecer aos alunos uma plataforma para estudar e trocar ideias, aprimorando assim seus conhecimentos de TIC e habilidades práticas. Este concurso também visa estimular o pensamento criativo dos alunos em relação ao uso de novas tecnologias e plataformas. Este ano, estamos lançando a 6ª Competição de ICT da Huawei globalmente. Os alunos irão competir na Etapa Nacional, depois na Etapa Regional e, finalmente, competir com alunos de todo o mundo na Etapa Global. Os alunos do ICT IFRN serão encorajados a participar do ICP competition que normalmente acontece no fim de cada ano. Mais informações em <a href="https://e.huawei.com/en/talent/#/ict/contest?compId=85131961">ICT-Competetion</a></p>
        </div>
        
        <h2>Fonte: Huawei</h2>
        
        <aside>
            <p class="extra-event-info">* Somente alunos matriculados em curso técnico, em graduação ou em mestrados das instituições de ensino qualificadas como Huawei ICT Academy podem se inscrever;</p>
            <p class="extra-event-info">* Alunos devem ter login associado a Huawei ICT Academy.</p>
        </aside>
    </div>
</main>

<!-- FOOTER -->
<footer>            
    <section class="footer-part-two">
        <img src="{% static 'images/logo-ifrn-branco-3.png' %}" alt="Logo do IFRN">
        <img src="{% static 'images/logo-huawei-2.png' %}" alt="Logo da Huawei">
    </section>
</footer>
{% endblock 'conteudo' %}