{% extends 'base.html' %}
{% load static %}
{% block 'estilos' %}<link rel="stylesheet" href="{% static 'css/instructors.css' %}">{% endblock 'estilos' %}
{% block 'titulo' %}Instrutores - IFRN Huawei{% endblock 'titulo' %}

{% block 'conteudo' %}
<main>
    <section class="page-title">
        <h1>Instrutores</h1>
    </section>

    <section class="instructors">
        <ul class="professors">
            <li class="professor professor-margin-right">
                <div class="professor-picture"><img src="{% static 'images/rodrigo-4.jpg' %}" alt="Foto do professor Rodrigo"></div>
                <h2 class="professor-name">Prof. Rodrigo Tertulino</h2>
                <h3 class="professor-info">Coordenador do ICT Academy e Instrutor</h3>
                <h4 class="professor-certification">Certificado:<br> HCIA-Cloud Service<br> HCIA-Routing & Switching<br> HCAI-Huawei Certified Academy Instructor</h4>
                <h5 class="professor-curiculum"><a href="http://lattes.cnpq.br/5863705420808941">Link Lattes</a></h5>
            </li>
            <li class="professor">
                <div class="professor-picture"><img src="{% static 'images/jefferson.jpg' %}" alt="Foto do professor Jefferson"></div>
                <h2 class="professor-name">Prof. Jefferson Silva</h2>
                <h3 class="professor-info">Vice coordenador do ICT Academy e Instrutor</h3>
                <h4 class="professor-certification">Certificado:<br> HCIA-Cloud Service<br> HCIA-Routing & Switching<br> HCAI-Huawei Certified Academy Instructor</h4>
                <h5 class="professor-curiculum"><a href="http://lattes.cnpq.br/8083389022423202">Link Lattes</a></h5>
            </li>
            
            <!--<li class="professor">
                <img src="#" alt="">
                <h2 class="professor-name">Nome do professor</h2>
                <h3 class="professor-info">Descrição do professor</h3>
            </li>
            <li class="professor">
                <img src="#" alt="">
                <h2 class="professor-name">Nome do professor</h2>
                <h3 class="professor-info">Descrição do professor</h3>
            </li>
            <li class="professor">
                <img src="#" alt="">
                <h2 class="professor-name">Nome do professor</h2>
                <h3 class="professor-info">Descrição do professor</h3>
            </li>-->
        </ul>
    </section>
</main>

<!-- FOOTER -->
<footer>            
    <section class="footer-part-two">
        <img src="{% static 'images/logo-ifrn-branco-3.png' %}" alt="Logo do IFRN">
        <img src="{% static 'images/logo-huawei-2.png' %}" alt="Logo da Huawei">
    </section>
</footer>
{% endblock 'conteudo' %}